<h1>Messages</h1>

<% @messages.each do |message| %>
  <p> <%= message.sender %> <p>
  <h2> <%= message.subject %> <h2>
  <p> <%= message.body %> <p>

  <br>
  <%= link_to "Read", message %>

<%end %>
